[submodule "src/modules/mavlink/mavlink"]
	path = src/modules/mavlink/mavlink
	url = https://github.com/mavlink/mavlink.git
	branch = master
	
[submodule "Tools/flightgear_bridge"]
	path = Tools/simulation/flightgear/flightgear_bridge
	url = https://gitee.com/seokhb/PX4-FlightGear-Bridge.git
	
[submodule "Tools/simulation/gazebo-classic/sitl_gazebo-classic"]
	path = Tools/simulation/gazebo-classic/sitl_gazebo-classic
	url = https://gitee.com/seokhb/PX4-SITL_gazebo-classic.git
	branch = main
	
[submodule "Tools/simulation/jmavsim/jMAVSim"]
	path = Tools/simulation/jmavsim/jMAVSim
	url = https://gitee.com/seokhb/jMAVSim.git
	branch = main
	
[submodule "Tools/simulation/jsbsim/jsbsim_bridge"]
	path = Tools/simulation/jsbsim/jsbsim_bridge
	url = https://gitee.com/seokhb/px4-jsbsim-bridge.git
	
[submodule "platforms/nuttx/NuttX/apps"]
	path = platforms/nuttx/NuttX/apps
	url = https://gitee.com/seokhb/NuttX-apps.git
	branch = px4_firmware_nuttx-10.3.0+
	
[submodule "platforms/nuttx/NuttX/nuttx"]
	path = platforms/nuttx/NuttX/nuttx
	url = https://gitee.com/seokhb/NuttX.git
	branch = px4_firmware_nuttx-10.3.0+-v1.14

[submodule "src/drivers/cyphal/public_regulated_data_types"]
	path = src/drivers/cyphal/public_regulated_data_types
	url = https://gitee.com/seokhb/public_regulated_data_types.git
	
[submodule "src/drivers/cyphal/legacy_data_types"]
	path = src/drivers/cyphal/legacy_data_types
	url = https://gitee.com/jiyuanwangxs/legacy_data_types.git
	branch = legacy

[submodule "src/drivers/cyphal/libcanard"]
	path = src/drivers/cyphal/libcanard
	url = https://gitee.com/seokhb/libcanard.git
	
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = https://gitee.com/seokhb/PX4-GPSDrivers.git
	branch = main
	
[submodule "src/drivers/uavcan/libuavcan"]
	path = src/drivers/uavcan/libuavcan
	url = https://gitee.com/seokhb/libuavcan.git
	
[submodule "src/lib/crypto/libtomcrypt"]
	path = src/lib/crypto/libtomcrypt
	url = https://gitee.com/seokhb/libtomcrypt.git
	branch = px4
	
[submodule "src/lib/crypto/libtommath"]
	path = src/lib/crypto/libtommath
	url = https://gitee.com/seokhb/libtommath.git
	branch = px4
	
[submodule "src/lib/crypto/monocypher"]
	path = src/lib/crypto/monocypher
	url = https://gitee.com/seokhb/Monocypher.git
	branch = px4
	
[submodule "src/lib/events/libevents"]
	path = src/lib/events/libevents
	url = https://gitee.com/seokhb/libevents.git
	branch = main

[submodule "src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client"]
	path = src/modules/uxrce_dds_client/Micro-XRCE-DDS-Client
	url = https://gitee.com/seokhb/Micro-XRCE-DDS-Client.git
	branch = px4
